<p style="color: green"><%= notice %></p>
<div class="px-3 d-flex justify-content-end mb-3">
  Total: $<%= @group.bills.inject(0){ |sum, bill| sum + bill.amount.to_i } %>
</div>

 <%= render @bills %> 


<div class="container-fluid d-flex mb-3">

  <%= link_to "Edit this group", edit_group_path(@group), class: 'mx-1' %> |
  <%= link_to "Back to groups", groups_path, class: 'mx-1' %>

  | <%= button_to "Delete", @group, method: :delete, class: 'mx-1 border-0 text-primary' %>

</div>
<%
=begin%>
 
<%= render 'bill', bills: @group.bills %> 
<%
=end%>

<div class="bg-green p-3 w-100 position-fixed bottom-0">
  <%= link_to "Add a New bill", new_group_bill_path(@group.id), class: 'btn bg-green fw-bold col-12 text-uppercase' %>
</div>